@mixin floating($bordo: 8px, $shadow: 0 4px 8px rgba(0, 0, 0, 0.1)) {
  border-radius: $bordo;
  box-shadow: $shadow;
}
@mixin grid($immagine: 3, $gap: 20px) {
  display: flex;
  flex-wrap: wrap;
  gap: $gap;
   grid {
    flex: 1 1 (100% / $immagine);
    max-width: (100% / $immagine);
  }
}